	<section class="footer">
		<div class="row">
			<div class="twelve columns">
				<div class="footer-links">
					<p class="no-margin-bottom">&copy; <%= Time.new.year %> Mike Doyle</p>
					<p>This site is built on <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://foundation.zurb.com">Zurb Foundation</a>. The source code is also on <a href="https://github.com/mdoyle13/mikedoyleweb3.2">github</a>.</p>
					<a class="footer-link icon-twitter" href="http://www.twitter.com/sccmiked"></a>
					<a class="footer-link icon-linkedin-squared" href="http://www.linkedin.com/profile/view?id=16025622"></a>
				</div>
		</div>	
	</section>		
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6983998-4']);
	  _gaq.push(['_setDomainName', 'mikedoyleweb.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	
</body>
</html>