<div class="row">
	<div class="seven columns">
		<h1>About</h1>
		<p>Thanks for stoping by! I'm <strong>Mike Doyle</strong> - a multifaceted web developer from Chicago, IL. I'm experienced with back end, front end and server side development.
		<h3>Philosophy</h3>
		<p>
			The mark of a great programmer does not lie in command of a language or syntax, but in the ability to solve problems simply and effectively.
		</p>	
		<h3>Skills</h3>
		<ul class="tag-list">
			<li class="tag tag--no-hover">Ruby on Rails</li>
			<li class="tag tag--no-hover">PHP</li>
			<li class="tag tag--no-hover">Cross Browser CSS</li>
			<li class="tag tag--no-hover">Javascript</li>
			<li class="tag tag--no-hover">Wordpress</li>
			<li class="tag tag--no-hover">Linux</li>
			<li class="tag tag--no-hover">HTML Emails</li>
			<li class="tag tag--no-hover">Facebook</li>
			<li class="tag tag--no-hover">Wireframing</li>
			<li class="tag tag--no-hover">Photoshop</li>
			<li class="tag tag--no-hover">Flash</li>
		</ul>	
		<h3 class="clearfix">Interests</h3>
		<ul class="tag-list">
			<li class="tag tag--no-hover">Music</li>
			<li class="tag tag--no-hover">Drums</li>
			<li class="tag tag--no-hover">Cycling</li>
			<li class="tag tag--no-hover">Brewing</li>
			<li class="tag tag--no-hover">Cooking</li>
			<li class="tag tag--no-hover">Programming</li>
			<li class="tag tag--no-hover">Tech</li>
			<li class="tag tag--no-hover">Mobile</li>
			<li class="tag tag--no-hover">Snow Boarding</li>
			<li class="tag tag--no-hover">Fun</li>
		</ul>
	</div>
	<div class="five columns">
		<p><%= image_tag('bio-photo.jpg') %></p>
	</div>		
</div>	