<div class="row">
	<div class="seven columns">
		<h1>About Me</h1>
		<p>Thanks for stoping by! I'm Mike Doyle - a multi faceted web developer from Chicago, IL. I'm experienced with back end, front end and server side development.
		<h3>Philosophy</h3>
		<p>
			The mark of a great programmer does not lie in command of a language or syntax, but in the ability to solve problems simply and effectively.
		</p>	
		<h3>Skills</h3>
		<ul class="tag-list">
			<li class="tag">Ruby on Rails</li>
			<li class="tag">Linux</li>
			<li class="tag">HTML</li>
			<li class="tag">CSS</li>
			<li class="tag">Wordpress</li>
			<li class="tag">Javascript</li>
			<li class="tag">Photoshop</li>
			<li class="tag">Flash</li>
		</ul>	
		<h3 class="clearfix">Interests</h3>
		<ul class="tag-list">
			<li class="tag">Music</li>
			<li class="tag">Drums</li>
			<li class="tag">Cycling</li>
			<li class="tag">Beer</li>
			<li class="tag">Programming</li>
			<li class="tag">Tech</li>
			<li class="tag">Mobile</li>
			<li class="tag">Snow Boarding</li>
			<li class="tag">Fun</li>
		</ul>
	</div>
	<div class="five columns">
		<p><%= image_tag('bio-photo.jpg') %></p>
	</div>		
</div>	