<%= content_for :title, "Mike Doyle - Web Development" %>

<div class="row">
	<div class="eight columns">
		<img src="http://placehold.it/1000x600">
	</div>	
	<div class="four columns">
		<h2 class="italic">I build stuff <br>for the web.</h2>
		<p>I help designers and creatives bring their visions to life in code. I specialize in Ruby on Rails, Wordpress, HTML5, CSS3 and jQuery. 	</p>
	</div>	
</div>

<div class="row">
	<div class="four columns">
		<h4><a href="#">Eshticken Pizza</a></h4>
		<p>Mauris nec erat a lacus euismod luctus eu ac orci. In hac habitasse platea dictumst. Vivamus posuere augue sed lacus scelerisque pharetra.</p>
		<img src="http://placehold.it/350x220">
	</div>
	
	<div class="four columns">
		<h4><a href="#">Ten26 Design</a></h4>
		<p>Mauris nec erat a lacus euismod luctus eu ac orci. In hac habitasse platea dictumst. Vivamus posuere augue sed lacus scelerisque pharetra.</p>
		<img src="http://placehold.it/350x220">
	</div>
	
	<div class="four columns">
		<h4><a href="#">Redux Interior Design</a></h4>
		<p>Mauris nec erat a lacus euismod luctus eu ac orci. In hac habitasse platea dictumst. Vivamus posuere augue sed lacus scelerisque pharetra.</p>
		<img src="http://placehold.it/350x220">
	</div>
</div>	