<%= content_for :title, "Mike Doyle - Web Development" %>

<div class="row">
	<div class="twelve columns home-feature center-text">
		<h1>I build stuff for the World Wide Web.</h1>
		<p>I work with designers and creatives to bring their visions to life on the web using Ruby on Rails, Wordpress, HTML, CSS and Javascript.</p>
	</div>	
</div>

<div class="row">
	
	<% @featured_work.each do |f| %>
		<div class="four columns">
		<%= link_to (image_tag f.featured_thumbnail.url), work_path(f) %>
		</div>
	<% end %>

</div>	