// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact-form {
	padding-top: 40px;
}

.errors-wrapper {
	margin-bottom: 1.5em
}

.error-message {
	color: #c60f13;
	font-weight: bold;
	margin: 0;
}