@charset "UTF-8";

.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-doc-text:before { content: '\1f4c4'; } /* '\1f4c4' */
.icon-book:before { content: '\1f4d5'; } /* '\1f4d5' */
.icon-book-open:before { content: '\1f4d6'; } /* '\1f4d6' */