@charset "UTF-8";


.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-book:before { content: '\1f4d5'; } /* '\1f4d5' */
.icon-book-open:before { content: '\1f4d6'; } /* '\1f4d6' */