/*TYPE HELPERS*/

.italic {
	font-weight: 300;
	font-style: italic;
}

.center-text {
	text-align: center;
}

/*LAYOUT MODULES*/


/*TAGLIST*/

.tag-list {
	list-style-type: none;
	overflow: hidden;
}

.tag {
	background: $accent-color;
	color: #fff;
	display: block;
	float: left;
	font-size: 1.125em;
	margin: 0 10px 10px 0;
	padding: 5px;
	text-transform: uppercase;
	transition: all 0.2s linear;
}

.tag:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}

.tag--no-hover:hover {
  background: $accent-color;
  transition: none;
}


/*OVERLAY ON HOVER*/

.overlay {
	background: #000;
	color: #fff;
	display: none;
	left: 50%;
	margin-left: -15%;
	padding: 10px 20px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 30%;
}

.submit-button {
	@extend .tag;
	border: 0;
	cursor: pointer;
	font-family: 'Open Sans';
	font-weight: 100;
}

